<div class="component-container">
<div class="form-container">
  <p class="title">Registro</p>
  <form (ngSubmit)="registrarUsuario()" class="form">
    
    <div class="input-group">
      <label for="username">Username</label>
      <input 
        type="text" 
        id="username" 
        name="username" 
        [(ngModel)]="username" 
        required 
        (blur)="verificarUsername()" 
      />
      @if(!usernameValido && mensajeErrorUsername) {
        <p class="error">{{ mensajeErrorUsername }}</p>
      }
    </div>

    <div class="input-group">
      <label for="nombre">Nombre</label>
      <input 
        type="text" 
        id="nombre" 
        name="nombre" 
        [(ngModel)]="nombre" 
        maxlength="100" 
        required 
      />
    </div>

    <div class="input-group">
      <label for="email">Correo Electrónico</label>
      <input 
        type="email" 
        id="email" 
        name="email" 
        [(ngModel)]="email" 
        required 
        (blur)="verificarEmail()" 
      />
      @if(!emailValido && mensajeErrorEmail) {
        <p class="error">{{ mensajeErrorEmail }}</p>
      }
    </div>

    <div class="input-group">
      <app-password-field
        label="Contraseña"
        [(value)]="password"
        [showStrength]="true"
        [showGenerator]="true"
        [mostrarRequisitos]="true"
        [required]="true"
        (passwordGenerada)="onPasswordGenerada($event)" 
      ></app-password-field>
    </div>

    <div class="input-group">
      <app-password-field
        label="Confirmar Contraseña"
        [(value)]="confirmPassword"
        [showStrength]="false"
        [showGenerator]="false"
        [required]="true"
      ></app-password-field>
    </div>

    <div class="input-group">
      <label>
        <input 
          type="checkbox" 
          name="barbero" 
          [(ngModel)]="barbero" 
          (change)="esCliente = !barbero" 
        />
        Barbero
      </label>
      <label>
        <input 
          type="checkbox" 
          name="cliente" 
          [(ngModel)]="esCliente" 
          (change)="barbero = !esCliente" 
        />
        Cliente
      </label>
    </div>

    <button 
      type="submit" 
      class="sign" 
      [disabled]="!usernameValido || !emailValido || username === '' || email === '' || password === '' || confirmPassword === ''"
    >
      Registrar
    </button>

    <p class="signup">¿Ya tienes cuenta?
      <a routerLink="/inicio-sesion">Iniciar sesión</a>
    </p>
  </form>
</div>
</div>