<div class="component-container">
	<h1>Tus relaciones</h1>

	<input type="text" [(ngModel)]="busqueda" placeholder="Buscar por nombre o usuario" (input)="filtrar()" />
	
	@if(datosService.esCliente()){
		@if (barberosFiltrados.length > 0) {
		<div class="solicitudes-container">
			<table>
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Nombre</th>
						<!-- <th></th> -->
					</tr>
				</thead>
				<tbody>
					@for (relacion of barberosFiltrados; let idx = $index; track idx) {
						<tr>
							<td><a [routerLink]="['/', relacion.username]">{{ relacion.username }}</a></td>
							<td>{{ relacion.nombre }}</td>
						<td>
							<button (click)="eliminarRelacion(relacion.id)">Eliminar</button>
						</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
		}
		
		@else {
			<p>Aún no tienes relaciones.</p>
		}
	}

	@if(datosService.esBarbero()){
		@if (clientesFiltrados.length > 0) {
			<h3>Clientes</h3>
			<div class="solicitudes-container">
				<table>
					<thead>
						<tr>
							<th>Usuario</th>
							<th>Nombre</th>
							<!-- <th></th> -->
						</tr>
					</thead>
					<tbody>
						@for (relacion of clientesFiltrados; let idx = $index; track idx) {
						<tr>
							<td><a [routerLink]="['/', relacion.username]">{{ relacion.username }}</a></td>
							<td>{{ relacion.nombre }}</td>
							<td>
								<button (click)="eliminarRelacion(relacion.id)">Eliminar</button>
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		}
		@if (barberosFiltrados.length > 0) {
			<h3>Barberos</h3>
			<div class="solicitudes-container">
				<table>
					<thead>
						<tr>
							<th>Usuario</th>
							<th>Nombre</th>
							<!-- <th></th> -->
						</tr>
					</thead>
					<tbody>
						@for (relacion of barberosFiltrados; let idx = $index; track idx) {
						<tr>
							<td><a [routerLink]="['/', relacion.username]">{{ relacion.username }}</a></td>
							<td>{{ relacion.nombre }}</td>
							<td>
								<button (click)="eliminarRelacion(relacion.id)">Eliminar</button>
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		}
	}
</div>