@if(!cargandoLocal){
<section>
	<span>
		<img [alt]="user.username" [src]="(user.foto_perfil | uploads) || datosService.noFoto">
	</span>
	<aside>
		<h1>{{user.nombre}}</h1>
		<h2>{{'@' + user.username}}</h2>
		<p>{{user.bio}}</p>
	</aside>
	@if(usuarioAutorizado){
		<div class="perfil-botones">	
			@for(componente of getMapaComponentesEntries(); track componente){
				@if(user.username != datosService.user.username ||componente != 'mensajes'){
					<button (click)="loadComponent(componente)">
						{{componente | capitalize}}
					</button>
				}
			}
		</div>
	}
</section>
	@if(!usuarioAutorizado){
		<div class="overlay">
			<div class="reserva-dialogo">
				<p>No tienes acceso al perfil de {{user.username}}</p>
				@if(relacionActual == 'ninguna'){
					<button (click)="solicitar(user.username)">Enviar solicitud</button>
				}
				@else if (relacionActual == 'pendiente'){
					<h3>Ya has enviado una solicitud, espera a que sea aceptada</h3>
				}
				@else if(relacionActual == 'rechazado'){
					<h3>Tu solicitud ha sido rechazada</h3>
				}
				<a routerLink="/">Volver a Inicio</a>
			</div>
		</div>
	}
}
<ng-container *ngComponentOutlet="component$.value" />

@if(cargandoService.cargandoProlongado){
	<app-cargando [mensaje]="`Cargando perfil de ${user.username}`" ></app-cargando>
}