<div 
  class="pantalla-oscura" 
  *ngIf="oscurecerPantalla"
  style="position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:999;background:rgba(0,0,0,0.5);pointer-events:none;transition:background 0.3s;">
</div>

<form id="uploadForm" (submit)="subirProducto()">
  <h2 class="titulo">Añadir Producto</h2>
  @for(campo of campos; track campo.field){
    <label for="{{campo.field}}">
      {{ campo.label }}
    </label>
    @if(campo.field !== 'descripcion'){
      <input 
        type="{{campo.type}}" 
        id="{{campo.field}}" 
        [(ngModel)]="producto[campo.field]" 
        name="{{campo.field}}" 
        required
      />
    } @else {
      <textarea 
        id="{{campo.field}}"
        [(ngModel)]="producto[campo.field]" 
        name="{{campo.field}}" 
        required
      ></textarea>
    }
  }
  <div class="upload-area">
    <label for="fileInput" class="custom-file-upload">
      Seleccionar Imagen o arrastra
    </label>
    <input 
      type="file" 
      id="fileInput" 
      class="file-input" 
      #fileInput
      (change)="seleccionarImagen($event)" 
      style="display: none;"
    />
  </div>
  @if(producto.foto){
    <div class="preview-container">
      <img [src]="urlImagen()" alt="Imagen del producto" class="preview-image" />
      <button class="remove-button" (click)="eliminarImagen($event)">Eliminar Imagen</button>
    </div>
  }
  <button type="submit">Subir Producto</button>
</form>

<ul *ngIf="!cargandoService.cargando">
  <li class="header">
    @for(campo of campos; track campo.field){
      <div class="col {{campo.colClass}}">
        {{ campo.label }}
      </div>
    }
    <div class="col col-5">Imagen</div>
  </li>
  @for(producto of productos; track producto.id){
  <li class="row" (click)="expandir(producto)">
    <div class="toggle-container" style="display: inline-block; margin-right: 8px;">
      <span class="toggle-button">
        <i class="triangle" [ngClass]="{'down': expandidos.includes(producto.id), 'left': !expandidos.includes(producto.id)}"></i>
      </span>
    </div>
    @for(campo of campos; track campo.field){
      <div class="col {{campo.colClass}}" (dblclick)="editCell(producto, campo.field)">
        @if(editingCell?.id !== producto.id || editingCell?.field !== campo.field){
          {{ producto[campo.field] }}
        } @else {
          @if(campo.field === 'descripcion'){
            <textarea id="input-{{producto.id}}-{{campo.field}}" [(ngModel)]="producto[campo.field]" (blur)="finishEditCell()"></textarea>
          } @else {
            <input id="input-{{producto.id}}-{{campo.field}}" type="{{campo.type}}" [(ngModel)]="producto[campo.field]" (blur)="finishEditCell()" />
          }
        }
      </div>
    }
    <div class="col col-5" (dblclick)="editCell(producto, 'foto')">
      @if(editingCell?.id == producto.id && editingCell?.field == 'foto'){
        <input id="input-{{producto.id}}-foto" type="file" (change)="seleccionarCambioImagen($event)" />
      }
      @else if(producto.foto){
        <img [src]="producto.foto | uploads" alt="{{ producto.nombre }}" />
      }
      @else {
        <p>Sin imagen</p>
      }
    </div>
  </li>
  @if(expandidos.includes(producto.id)){
    <ul class="reservados-list" style="animation: fadeIn 0.3s;">
      @if(reservados[producto.id]){
        <li class="header">
          <div class="col col-1">Usuario</div>
          <div class="col col-2">Cantidad</div>
        </li>
      }
      @if(reservados[producto.id].length == 0){
        <li class="row">
          <div class="col col-1">No hay usuarios reservados</div>
          <div class="col col-2"></div>
        </li>
      }
      @for(usuario of reservados[producto.id]; track usuario.username){
        <li class="row">
          <div class="col col-1">{{usuario.username}}</div>
          <div class="col col-2">{{usuario.cantidad}}</div>
        </li>
      }
    </ul>
  }
}
</ul>