<h2>{{diasDeLaSemana[6] | dateMesString}}</h2>
<div class="botones-cambio-mes">
	<button (click)="cambiarSemana(-1)">-</button>
	<button (click)="cambiarSemana(1)">+</button>
</div>	
<div class="botones" [style.visibility]="1 > 0 ? 'visible' : 'hidden'">
	<button (click)="confirmarSeleccion()">Confirmar</button>
	<button (click)="cancelarSeleccion()">Cancelar</button>
</div>

<table>
	<thead>
	  <tr>
		@for (dia of diasDeLaSemana; track idx; let idx = $index) {
		  <th>{{ dia.getDate() }}</th>
		}
	  </tr>
	</thead>
	<tbody>
	  @for (hora of franjasHorarias; track hora) {
		<tr>
		  @for (dia of diasDeLaSemana; let idx = $index; track idx) {
			<td>
			  <button
				[class.selected]="horaEnFranja(dia, hora)"
				[class.subido]="horaEnFranja(dia,hora, fechasSubidas)"
				(mousedown)="empezarSeleccion(dia, hora)"
				(mousemove)="continuarSeleccion(dia, hora, $event)"
				(mouseup)="terminarSeleccion()"
				>
				{{ hora }}
			  </button>
			</td>
		  }
		</tr>
	  }
	</tbody>
  </table>