<section>
  <span>
    <img
      [alt]="datosService.user.username"
      [src]="datosService.user.pic ? (datosService.user.pic | uploads) : datosService.noFoto">

    <div class="change-button-container">
      <button (click)="activarInput()">Cambiar Foto</button>
    </div>
  
    <form id="uploadForm" (submit)="subirImagen($event)">
      <input 
        type="file" 
        id="fileInput" 
        (change)="seleccionarImagen($event)" 
        class="file-input"
      />
      <button type="submit">Subir Imagen</button>
    </form>
  </span>
  <aside>
    <div class="nombre-container">
      <h1 id="nombre">{{this.datosService.user.nombre}}</h1>
      <button (click)="editarNombre()" aria-label="Editar nombre" style="background: none; border: none; cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 20 20" fill="currentColor">
        <path d="M14.85 2.85a2.12 2.12 0 0 1 3 3l-9.1 9.1a1 1 0 0 1-.47.26l-3.5.88a.5.5 0 0 1-.61-.62l.88-3.5a1 1 0 0 1 .26-.47l9.1-9.1Zm2.12.88a1.12 1.12 0 0 0-1.59 0l-.88.88 1.59 1.59.88-.88a1.12 1.12 0 0 0 0-1.59ZM13.21 5.21l-8.1 8.1-.59 2.34 2.34-.59 8.1-8.1-1.85-1.85Z"/>
        </svg>
      </button>
    </div>
    <h2>{{'@' + this.datosService.user.username}}</h2>
  </aside>
</section>
