<section>
  <span>
    @if(this.datosService.user.pic){
      <img
        [alt]="this.datosService.user.username"
        [src]="this.datosService.user.pic | uploads">
    }
    @else{
      <img
        [alt]="this.datosService.user.username"
        src="https://avatars.githubusercontent.com/u/88788711?v=4">
    }

    <div class="change-button-container">
      <button (click)="activarInput()">Cambiar Foto</button>
    </div>
  
    <form id="uploadForm" (submit)="subirImagen($event)">
      <input 
        type="file" 
        id="fileInput" 
        (change)="seleccionarImagen($event)" 
        class="file-input"
      />
      <button type="submit">Subir Imagen</button>
    </form>
  </span>
  <aside>
    <h1>{{this.datosService.user.nombre}}</h1>
    <h2>{{'@' + this.datosService.user.username}}</h2>
  </aside>
</section>
