.card {
  position: relative;
  box-sizing: border-box;
  width: 11.8vw;
  height: 15.5vw;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0.6vw;
  gap: 0.4vw;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 12.5vw;
  height: 16.56vw;
  border-radius: 10px;
  background: linear-gradient(-45deg, var(--primary) 0%, #ff4141 100%);
  z-index: -1;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, var(--primary) 0%, #ff7878 100%);
  transform: translate3d(0, 0, 0) scale(1);
  filter: blur(50px);
}

.imagen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img{
	height: 10vw;
	width: 10vw;
	object-fit: contain;
	border-radius: 4px;
}

.heading {
  font-size: 1.2vw;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;	
}

.card p:last-child {
  font-size: 14px;
  color: #ffb01c;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

@media (max-width: 600px) {
  .card {
    width: 40vw;
    height: calc(40vw * 1.314);
    min-width: 110px;
    max-width: 95vw;
    padding: 6px;
    gap: 8px;
    margin: 1vw;
  }

  .card::before {
    width: 42vw;
    height: calc(42vw * 1.314);
    left: -1vw;
    border-radius: 10px;
  }

  .heading {
    font-size: 16px;
  }

  .card p:last-child {
    font-size: 12px;
  }

  img{
    height: 100%;
    width: 100%;
  }
}