<div class="component-container">
@if(!cargandoLocal){
@if(!usernameValido){
	<div class="overlay">
		<div class="reserva-dialogo">
			<p>El usuario "{{usernameBarbero}}" no es válido</p>
			<a routerLink="/">Volver a Inicio</a>
		</div>
	</div>
}

@else if(!esBarbero){
	<div class="overlay">
		<div class="reserva-dialogo">
			<p>El usuario "{{usernameBarbero}}" no es Barbero</p>
			<a routerLink="/">Volver a Inicio</a>
		</div>
	</div>
}

@else if(!usuarioAutorizado){
	<div class="overlay">
		<div class="reserva-dialogo">
			<p>No tienes acceso a las citas de {{usernameBarbero}}</p>
			@if(relacion == 'ninguna'){
				<button (click)="solicitar(usernameBarbero)">Enviar solicitud</button>
			}
			@else if (relacion == 'pendiente'){
				<h3>Ya has enviado una solicitud, espera a que sea aceptada</h3>
			}
			@else if(relacion == 'rechazado'){
				<h3>Tu solicitud ha sido rechazada</h3>
			}
			<a routerLink="/">Volver a Inicio</a>
		</div>
	</div>
}

@else if(usernameValido){
	<h2>{{ semanaActual.fin | dateMesString}} {{semanaActual.fin.getFullYear()}}</h2>
	<div class="botones-cambio-semana">
		<button (click)="cambiarSemana(-1)"
			[disabled]="desactivarAtras()" >-</button>
		<button (click)="cambiarSemana(1)">+</button>
	</div>
	@if(!cargandoLocal){
		<table>
			<thead>
				<tr>
					@for (dia of diasDeLaSemana; track idx;  let idx = $index){
						<th>{{ dia.getDate() }}</th>
					}
				</tr>
			</thead>
		@if(franjasHorarias.length > 0){
		<tbody>
			@for (hora of franjasHorarias; let idx = $index; track idx) {
			<tr>
				@for (dia of diasDeLaSemana; let idx = $index; track idx) {
				<td>
					<button 
					(click)="mostrarReserva(dia, hora)" 
					[disabled]="!esFranjaDisponible(dia, hora) || esFranjaReservada(dia.getDate(),hora)"
					[class.selected]="esFranjaReservada(dia.getDate(),hora) === 1 && esFranjaDisponible(dia, hora)"
					[class.reservada]="esFranjaReservada(dia.getDate(),hora) === 2 && esFranjaDisponible(dia, hora)"
					>
					{{ hora }}
					</button>
				</td>
				}
			</tr>
			}
		</tbody>
		}
		@else {
			<tr>
				<td colspan="7">No hay horarios disponibles esta semana</td>
			</tr>
		}
		</table>
	}
	@if (mostrarDialogo) {
		<div class="overlay">
			<div class="reserva-dialogo">
				@if (idBarbero != idUsuario)
				{
					<p>Reservar el {{ diaSeleccionado.getDate() }} a las {{ diaSeleccionado.getHours() }}:{{ diaSeleccionado.getMinutes() === 0 ? '00' : diaSeleccionado.getMinutes() }}</p>
					<button (click)="confirmarReserva()">Confirmar</button>
				}
				@else {
					<p>No puedes reservarte cita a ti mismo</p>
				}
				<button (click)="cancelarReserva()">Cancelar</button>
			</div>
		</div>
	}
}
}
</div>