.tabla-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #ff4f4f;
  text-align: center;
}

tr:hover {
  background-color: #555555;
}