<div class="tabla-container">
  <h1>Citas</h1>
  @if(citas.length){
  <ul>
    <li class="header">
      <div class="col col-1">Fecha</div>
      <div class="col col-2">Nombre</div>
      <div class="col col-3">Username</div>
    </li>
    @for(cita of citas; track cita.id){
      <li class="row">
        <div class="col col-1">{{ cita.fecha_hora | date:'dd/MM hh:mm' }}</div>
        <div class="col col-2">{{ cita.barbero_nombre }}</div>
        <div class="col col-3">{{ '@' + cita.barbero_username }}</div>
      </li>
    }
  </ul>
    }@else {
      <h3>No tienes citas pendientes</h3>
    }
</div>