<h1>{{title}}</h1>
<h4>Has iniciado sesión como: {{datosService.username}}</h4>
<div class="container">
  <nav>
      <a routerLink="/inicio-sesion">Iniciar Sesión</a>
      <a routerLink="/registro">Registro</a>
      <a routerLink="/{{datosService.username}}/citas">Citas</a>
      <a routerLink="/crear-citas">Crear</a>
      <a routerLink="/mis-citas">Mis Citas</a>
      <div class="form-control">
        <input type="text" #userInput class="input input-alt" (keyup.enter)="navegar('/' + userInput.value.toLocaleLowerCase() + '/citas')" placeholder="Buscar" />
        <span class="input-border input-border-alt"></span>
      </div>
  </nav>
  <div class="app">
    <router-outlet></router-outlet>
  </div>
</div>