<div class="component-container">
<div class="form-container">
	<p class="title">Iniciar Sesión</p>
	<app-toast></app-toast>
	<form (ngSubmit)="iniciarSesion()" class="form">
		<div class="input-group">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" [(ngModel)]="username" placeholder="" required>
		</div>
		<app-password-field
			label="Contraseña"
			[(value)]="password"
		/>
		<button class="sign" [disabled]="!username || !password">Iniciar Sesión</button>
	</form>
	<p class="signup">No tienes cuenta?
		<a routerLink="/registro" class="">Crear una</a>
	</p>
</div>
</div>
