<div class="cambiar-password-container">
  <h2>Cambiar contraseña</h2>
  <form (ngSubmit)="cambiarPassword()" #form="ngForm" autocomplete="off">
    
    <app-password-field
      label="Contraseña actual"
      [(value)]="passwordActual"
      [required]="true"
      />

      <app-password-field
        label="Nueva contraseña"
        [(value)]="nuevaPassword"
        [showStrength]="true"
        [showGenerator]="true"
        [mostrarRequisitos]="true"
        [required]="true"
        (passwordGenerada)="onPasswordGenerada($event)" 
      ></app-password-field>

    <app-password-field
      label="Repetir contraseña"
      [(value)]="repetirPassword"
      [required]="true"
    />
    <button type="submit"
      [disabled]=" cambiandoPassword || !passwordActual
        || nuevaPassword.length < 6 || repetirPassword.length < 6">
      Cambiar contraseña
    </button>
  </form>
</div>
