<h2>Solicitudes pendientes</h2>

@if (solicitudes.length > 0) {
<div class="solicitudes-container">
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Usuario</th>
				<th>Fecha</th>
				<!-- <th>Estado</th> -->
				<!-- <th></th> -->
			</tr>
		</thead>
		<tbody>
			@for (solicitud of solicitudes; let idx = $index; track idx) {
			<tr>
				<td>{{ solicitud.nombre }}</td>
				<td>{{ solicitud.username }}</td>
				<td>{{ solicitud.fecha_creacion | date:'HH:mm dd/MM'}}</td>
				<!-- <td>{{ solicitud.estado }}</td> -->
				<td>
					<button (click)="aceptarSolicitud(solicitud.id)">Aceptar</button>
					<button (click)="rechazarSolicitud(solicitud.id)">Rechazar</button>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>
}

@else {
	<p>No hay solicitudes pendientes.</p>
}