<div class="chat-container" *ngIf="!cargando">
  <div class="mensajes">
    @for(mensaje of mensajes; let idx = $index ; track idx) {
      <div class="mensaje" [class.emisor]="mensaje.emisor_id === usuarioActual">
        <p>{{ mensaje.mensaje }}</p>
        <span class="hora">{{ mensaje.fecha_envio | date: 'HH:mm' }}</span>
      </div>
    }
  </div>
  <div class="input-container">
    <input [(ngModel)]="mensaje" placeholder="Escribe un mensaje..." (keydown.enter)="enviarMensaje()" />
    <button (click)="enviarMensaje()">Enviar</button>
  </div>
</div>