.tabla-container {
  width: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

app-citas-barbero{
  width: 70%;
}

@media (max-width: 600px) {
  app-citas-barbero {
    width: 100%;
  }
}