<div class="form-control">
  <input 
    type="text" 
    #userInput 
    class="input input-alt" 
    (input)="buscadorService.buscarUsuarios()" 
    (keydown.enter)="buscadorService.seleccionarPrimero()" 
    (focus)="mostrarResultados = true"
    placeholder="Buscar usuarios..." 
    [(ngModel)]="buscadorService.buscador" 
  />
  <div class="input-border">
    <div class="input-border-alt"></div>
  </div>
  @if (buscadorService.resultados.length > 0 && mostrarResultados) {
    <ul class="autocomplete-list">
      <li *ngFor="let usuario of buscadorService.resultados" 
      (click)="buscadorService.seleccionarUsuario(usuario.username)">
        <img [src]="(usuario.foto_perfil | uploads) || datosService.noFoto " alt="Avatar" class="avatar" />
        <span>{{ usuario.username }}</span>
      </li>
    </ul>
  }
</div>