:root {
  font-family: Montserrat, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  letter-spacing: 0.025em;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #1a29ce;
  --primary-dark: #2b3bee;
  --bg: #181a20;

  --surface: #232323;
  --surface-alt: #1f1b1b;
  --border: #444;
  --text: #fffbe7;
  --text-muted: #e0e0c0;
  --danger: #ff3333;
  --danger-hover: #cc0000;
  --success: #2ecc40;
  --radius: 14px;
  --shadow: 0 4px 24px rgba(0, 0, 0, 0.7);
  --transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.component-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

h2.titulo {
	background: linear-gradient(140deg, rgb(169, 199, 255) 0%, #2b3bee 30%, #1d2a63 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
	font-size: 3rem;
	letter-spacing: 1px;
	margin-bottom: 18px;
	font-weight: 700;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: unset;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  font-family: inherit;
}

.container {
  width: 100%;
}

#app {
  margin: 0;
  padding: 2rem;
  width: 100vw;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
