<div class="container">
	<div class="fondo"></div>
	<h1>Encuentra nuevos Barberos</h1>
	<div class="form-control">
		<input type="text" class="input" (input)="inputLetra()" placeholder="Buscar barberos..."
			[(ngModel)]="buscadorService.buscador" />
	</div>
	<div class="main">
		<div class="cards">
			@if(cargandoService.cargandoProlongado | async) {
			<h2>Buscando usuarios...</h2>
			}
			@else if (buscadorService.resultados.length == 0 && !cargandoService.cargando ) {
			<h2>Ningun usuario coincide con "{{buscadorService.buscadorCopia}}"</h2>
			}
			@else {
				@for(barbero of buscadorService.resultados; track barbero.username) {
					<pagina-principal-card [barbero]="barbero"
						(click)="buscadorService.seleccionarUsuario(barbero.username)"></pagina-principal-card>
				}
			}
		</div>
	</div>
</div>